body {
	font-family: 'Roboto', sans-serif;
	background-color: #000000;
	color: white;
}

.center-on-page {
	position: absolute;
	top:30%;
	left: 10%;
	transform: translate(-50%,-50%);
}

h1 {
	text-align: left;
	color:#FFFFFF;
}

img {
	vertical-align: middle;
}

.news-on-page {
	position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
