@font-face {
	font-family: 'Static';
	src: local('Static Bold'),
		local('Static-Bold'),
		url('Static-Bold.ttf');
}

body {
	font-family: 'Static', sans-serif;
	background-color: #000000;
	color: white;
    text-align: center;
}

.wiki-on-page {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	animation-name: fadein;
	animation-duration: 3s;
	animation-fill-mode: both;
}

@keyframes fadein {
	0%{
		opacity: 0;
		transform: translate(-50%, 50%);
	}
	100%{
		opacity: 1;
	}
}
